<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hailapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic = "true"
        android:theme="@style/Theme.HailApp">
        <activity
            android:name=".CPlanUI"
            android:exported="true" 
            android:permission=""/>
        <activity
            android:name=".academicRecordUI"
            android:exported="true" 
            android:permission=""/>
        <activity
            android:name=".scheduleUI"
            android:exported="true" 
            android:permission=""/>
        <activity
            android:name=".GradesUI"
            android:exported="true" 
            android:permission=""/>
        <activity
            android:name=".attendanceRecordUI"
            android:exported="true" 
            android:permission=""/>
        <activity
            android:name=".PersonalProfileUI"
            android:exported="true" 
            android:permission=""/>
        <activity
            android:name=".LogInUI"
            android:exported="true" 
            android:permission=""/>
        <activity
            android:name=".HomePageUI"
            android:exported="true" 
            android:permission=""/>
        <activity
            android:name=".MainActivityUI"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
